span.error-message

form
  .form-group
    label Room name
    input(name='roomName' type='text' value=roomName disabled=isDisabled(roomName))
  .form-group
    - if (isDisabled(roomName))
      a.exit-room Exit room
    - else
      input.submit(type='submit' value='Open' disabled=isDisabled(roomName))
